<div class="container">
	<section class="home-intro section-margin">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h2 class="colour-scheme">AGENCY</h2>
        <h1>What If You Gained a Fresh Perspective on Growth?</h1>
        </div>
      <div class="col-lg-6 col-md-6 col-sm-6"></div>
    </div>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
        <p>The potential for competitive advantage now relies on the way in which you do business almost as much as on your agency’s creative output. How will you manage your workload and preserve margins as your business grows? And how will you manage increasingly disparate resources while also providing greater transparency to your clients?</p>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<p>Our agency management systems can provide a single platform across your agency on which to build growth. This complements your creative process with flexible tools, and offers actionable business insight to help ensure that every penny counts.</p>
			</div>
		</div>
	</section>
</div>

<section class="section-title">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h3>Start a conversation</h3>
      </div>
    </div>
  </div>
</section>

<section class="start-conversation">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <img src="../images/vertical/agency-1.jpg" alt="" class="img-responsive">
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <h4>Get a bigger share</h4>
        <p>Join in the conversation with our series of video interviews, and hear what our experts have to say on optimising margins. For example, what can your agency do to improve its margins? How do you track all the things affecting margin when you’re focused mainly on ideas and creativity? And what margins should an agency of your size aim for anyway?</p>
        <a href="/#/what-if/marcomms/maximising-the-margins/" class="btn btn-default btn-deltek btn-agency">Explore</a>
      </div>
    </div>
  </div>
</section>

<section class="white-bg start-conversation">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-lg-push-9 col-md-push-9 col-sm-push-9">
        <img src="../images/vertical/agency-2.jpg" alt="" class="img-responsive">
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-lg-pull-3 col-md-pull-3 col-sm-pull-3">
        <h4>Dolores eos qui ratione voluptatem sequi nesciunt.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
        <a href="" class="btn btn-default btn-deltek btn-agency">Explore</a>
      </div>
    </div>
  </div>
</section>

<section class="start-conversation">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <img src="../images/vertical/agency-3.jpg" alt="" class="img-responsive">
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <h4>Dolores eos qui ratione voluptatem sequi nesciunt.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
        <a href="" class="btn btn-default btn-deltek btn-agency">Explore</a>
      </div>
    </div>
  </div>
</section>

<section class="meet-the-experts experts-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h4>Meet our experts</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
    <div class="row expert-row">
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="expert-container text-center">
          <img ng-src="../images/people/man-2.png" class="img-responsive person" width="155">
          <h4>Ben Kendrick</h4>
          <h5 class="colour-scheme">ARCHITECT/CEO</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor.</p>
          <a href="#" class="btn btn-default btn-deltek btn-consultancy pull-left">Meet Ben</a>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="expert-container text-center">
          <img ng-src="../images/people/man-2.png" class="img-responsive person" width="155">
          <h4>Ben Kendrick</h4>
          <h5 class="colour-scheme">ARCHITECT/CEO</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor.</p>
          <a href="#" class="btn btn-default btn-deltek btn-consultancy pull-left">Meet Ben</a>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="expert-container text-center tablet-top">
          <img ng-src="../images/people/man-2.png" class="img-responsive person" width="155">
          <h4>Ben Kendrick</h4>
          <h5 class="colour-scheme">ARCHITECT/CEO</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor.</p>
          <a href="#" class="btn btn-default btn-deltek btn-consultancy pull-left">Meet Ben</a>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="expert-container text-center tablet-top last">
          <img ng-src="../images/people/man-2.png" class="img-responsive person" width="155">
          <h4>Ben Kendrick</h4>
          <h5 class="colour-scheme">ARCHITECT/CEO</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor.</p>
          <a href="#" class="btn btn-default btn-deltek btn-consultancy pull-left">Meet Ben</a>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</section>
