<div class="container">
	<section class="home-intro section-margin">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h2 class="colour-scheme">ARCHITECT &amp; ENGINEER</h2>
        <h1>Vivamus pulvinar tellus a interdum dapibus</h1>
        </div>
      <div class="col-lg-6 col-md-6 col-sm-6"></div>
    </div>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
			</div>
		</div>
	</section>
</div>

<section class="section-title">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h3>Start a conversation</h3>
      </div>
    </div>
  </div>
</section>

<section class="start-conversation">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <img src="../images/vertical/architect-1.jpg" alt="" class="img-responsive">
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <h4>Dolores eos qui ratione voluptatem sequi nesciunt.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
        <a href="" class="btn btn-default btn-deltek btn-architect">Explore</a>
      </div>
    </div>
  </div>
</section>

<section class="white-bg start-conversation">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-lg-push-9 col-md-push-9 col-sm-push-9">
        <img src="../images/vertical/architect-2.jpg" alt="" class="img-responsive">
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-lg-pull-3 col-md-pull-3 col-sm-pull-3">
        <h4>Dolores eos qui ratione voluptatem sequi nesciunt.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
        <a href="" class="btn btn-default btn-deltek btn-architect">Explore</a>
      </div>
    </div>
  </div>
</section>

<section class="start-conversation">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <img src="../images/vertical/architect-3.jpg" alt="" class="img-responsive">
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <h4>Dolores eos qui ratione voluptatem sequi nesciunt.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
        <a href="" class="btn btn-default btn-deltek btn-architect">Explore</a>
      </div>
    </div>
  </div>
</section>

<section class="meet-the-experts experts-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h4>Meet our experts</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
    <div class="row expert-row">
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="expert-container text-center">
          <img ng-src="../images/people/man-2.png" class="img-responsive person" width="155">
          <h4>Ben Kendrick</h4>
          <h5 class="colour-scheme">ARCHITECT/CEO</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor.</p>
          <a href="#" class="btn btn-default btn-deltek btn-consultancy pull-left">Meet Ben</a>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="expert-container text-center">
          <img ng-src="../images/people/man-2.png" class="img-responsive person" width="155">
          <h4>Ben Kendrick</h4>
          <h5 class="colour-scheme">ARCHITECT/CEO</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor.</p>
          <a href="#" class="btn btn-default btn-deltek btn-consultancy pull-left">Meet Ben</a>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="expert-container text-center tablet-top">
          <img ng-src="../images/people/man-2.png" class="img-responsive person" width="155">
          <h4>Ben Kendrick</h4>
          <h5 class="colour-scheme">ARCHITECT/CEO</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor.</p>
          <a href="#" class="btn btn-default btn-deltek btn-consultancy pull-left">Meet Ben</a>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="expert-container text-center tablet-top last">
          <img ng-src="../images/people/man-2.png" class="img-responsive person" width="155">
          <h4>Ben Kendrick</h4>
          <h5 class="colour-scheme">ARCHITECT/CEO</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor.</p>
          <a href="#" class="btn btn-default btn-deltek btn-consultancy pull-left">Meet Ben</a>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</section>
