<section class="expert-intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-5">
        <div class="expert-details">
          <img src="../images/people/esther-carder.png" class="expert-img" alt="Esther Carder">
          <h4>Esther Carder</h4>
          <h5 class="colour-scheme">PARTNER, KINGSTON SMITH W1</h5>
          <a href=""><img src="../images/small-twitter-icon.jpg" class="first" alt=""></a>
          <a href=""><img src="../images/small-linkedin-icon.jpg" alt=""></a>
        </div>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-7">
        <div class="intro-details">
          <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</h1>
          <div class="profile-info">
            <h5 class="colour-scheme">PROFILE</h5>
            <p>I have over 20 years’ experience, 13 of those as a partner at Kingston Smith W1, advising on pre-sale grooming, tax planning, restructuring and due diligence. I'm also a commentator in the trade press.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="expert-content white-bg section-margin">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h2>Check out some of my thought leadership content</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div id="downloads" class="carousel slide">
          <div class="carousel-inner">
            <div class="item active">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 tablet-padding">
                  <img src="../images/conversation/download-1.jpg" class="img-responsive download-img" alt="">
                  <div class="download-content text-center">
                    <h5>BLOG</h5>
                    <h6>Post Title Lorem Ipsum Dolor Sit Amet</h6>
                    <p>Consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parture.</p>
                    <a href="" class="btn btn-default btn-deltek btn-agency">Go to blog</a>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 tablet-padding">
                  <img src="../images/conversation/download-2.jpg" class="img-responsive download-img" alt="">
                  <div class="download-content text-center">
                    <h5>DOWNLOAD</h5>
                    <h6>Content Title Lorem Ipsu Dolor Sit Amet</h6>
                    <p>Consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parture.</p>
                    <a href="" class="btn btn-default btn-deltek btn-agency">Download</a>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 tablet-padding">
                  <img src="../images/conversation/download-3.jpg" class="img-responsive download-img" alt="">
                  <div class="download-content text-center">
                    <h5>PRESENTATION</h5>
                    <h6>Title Lorem Ipsu Dolor Sit Amet</h6>
                    <p>Consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parture.</p>
                    <a href="" class="btn btn-default btn-deltek btn-agency">Read more</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 tablet-padding">
                  <img src="../images/conversation/download-1.jpg" class="img-responsive download-img" alt="">
                  <div class="download-content text-center">
                    <h5>BLOG</h5>
                    <h6>Post Title Lorem Ipsum Dolor Sit Amet</h6>
                    <p>Consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parture.</p>
                    <a href="" class="btn btn-default btn-deltek btn-agency">Go to blog</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <span class="left carousel-control" data-target="#downloads" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </span>
          <span class="right carousel-control" data-target="#downloads" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
